
/*
.pawn::after {
    content: "â—";
}
 */

.gameTable {
    border-spacing: 0px;
    font-size: 1em;
}

.square {
}

.square {
    display: inline-block;
    height: 50px;
    width: 50px;
    transition: opacity 0.5s ease-in;
    opacity: 0;
}

.pawn {
    position: relative;
    transition: all 0.5s cubic-bezier(.99,-0.25,.4,1.42);
    height: 30px;
    width: 30px;
    border-radius: 15px;
}

.white {
    background: white;
}

.black {
    background: var(--chakra-colors-chakra-body-text);
}

/*
 * Round the ends of the grid lines
 */
.gameTable tr>*.wall:nth-child(2)  {
    border-radius: 5px 0px 0px 5px;
}

.gameTable tr>*.wall:nth-last-child(2)  {
    border-radius: 0px 5px 5px 0px;
}

.gameTable>tbody>tr:nth-child(2)>*.wall  {
    border-radius: 5px 5px 0px 0px;
}
.gameTable>tbody>tr:nth-last-child(2)>*.wall  {
    border-radius: 0px 0px 5px 5px;
}

.wall.highlight {
    background: var(--chakra-colors-gray-800);
    opacity: 0.5;
}

.square.highlight {
    opacity: 0.5;
    background: var(--chakra-colors-gray-800);
    height: 30px;
    width: 30px;
    border-radius: 15px;
}

.wall {
    min-height: 10px;
    min-width: 10px;
    height: 10px;
    width: 10px;
}

.free {
    background:white;
}

.wall.placed {
    background: var(--chakra-colors-chakra-body-text);
    transition: all 0.5s ease-in;
}

@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

}
