
.board {
    min-height: 100vh;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*
.pawn::after {
    content: "●";
}
 */

.gameTable {
    font-size: 2em;
}

td.pawn {
    font-size: 1em;
}

td.square, pawn {
    display: inline-block;
    height: 50px;
    width: 50px;
}


.gameTable tr>*:nth-child(2)  {
    border-radius: 3px 0px 0px 3px;
}

.gameTable tr>*:nth-last-child(2)  {
    border-radius: 0px 3px 3px 0px;
}

.gameTable>tbody>tr:nth-child(2)>*  {
    border-radius: 3px 3px 0px 0px;
}
.gameTable>tbody>tr:nth-last-child(2)>*  {
    border-radius: 0px 0px 3px 3px;
}

.wall.highlight {
    background: #b37c7c;
}

.square.highlight {
    /* opacity: 0.5; */
    color: grey;
}

.square.highlight::before {
    content: "●";
}

.wall {
    height: 5px;
    width: 5px;
}
.cross {
    background: black;
}

.free {
    background: grey;
}

.wall.placed {
    background: black;
}

@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

    td.square, pawn {
        display: inline-block;
        height: 30px;
        width: 30px;
    }

    .wall {
        width: 10px;
        min-height: 10px;
    }
}
